<html>
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if title %}
        <title>{{ title }} - PreDic</title>
        {% else %}
        <title>Home page - PreDic</title>
        {% endif %}
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--        <link rel="icon" type="image/png" href="images/favicon.png">-->
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <div class="container">
                <a href="{{ url_for('index') }}" class="navbar-brand mr-3">PREdict</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Home</a>
                        <a href="{{ url_for('explore') }}" class="nav-item nav-link">Explore</a>
                        <a href="#" class="nav-item nav-link">About</a>
                        <a href="#" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a href="{{ url_for('register') }}" class="nav-item nav-link">Register</a>
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}" class="nav-item nav-link">Login</a>
                        {% else %}
                        <a href="{{ url_for('user', username=current_user.username) }}"
                           class="nav-item nav-link">Profile</a>
                        <a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</html>
